body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #ffffff00; /* Change text color to white */
}

header {
    background: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.pad {
    padding: 100px;
}

.hero {
    background: url('https://source.unsplash.com/1600x900/?bioinformatics') no-repeat center center/cover;
    color: #0000009c; /* Ensure hero text is white */
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero .btn {
    background: #00b894;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
}

.hero .btn:hover {
    background: #019875;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    color: #333; /* Set intro text color to a dark color for better readability */
}

.intro-item {
    background: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    text-align: center;
    color: #333; /* Ensure text color inside intro items is dark */
}

.intro-item h2 {
    margin-top: 0;
}

.intro-item .btn {
    display: inline-block;
    margin-top: 10px;
    background: #00b894;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.intro-item .btn:hover {
    background: #019875;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
